[[profile]]
name = "laptop"

[[profile.output]]
adaptive_sync = false
enable = true
mode = "1920x1080@60.049Hz"
position = "0,0"
scale = 1.0
search = ["m=0x323D", "s=", "v=AU Optronics"]
transform = "normal"

[[profile]]
name = "laptop-one-monitor"

[[profile.output]]
adaptive_sync = false
enable = true
mode = "2560x1440@59.951Hz"
position = "1920,0"
scale = 1.0
search = ["m=P27h-30", "s=V30D3RX6", "v=Lenovo Group Limited"]
transform = "normal"

[[profile.output]]
adaptive_sync = false
enable = true
mode = "1920x1080@60.049Hz"
position = "0,0"
scale = 1.0
search = ["m=0x323D", "s=", "v=AU Optronics"]
transform = "normal"
