[settings]
experimental = true
python_venv_auto_create = true
lockfile = true
yes = true
go_set_gobin = true
pipx_uvx = true
idiomatic_version_file_enable_tools = ["rust"]

[env]
AQUA_GLOBAL_CONFIG = "{{env.HOME}}/.config/aquaproj-aqua/aqua.yaml"
BUN_INSTALL = "{{env.HOME}}/.bun"
DENO_INSTALL = "{{env.HOME}}/.deno"
DPRINT_INSTALL = "{{env.HOME}}/.local/bin/"
HELIX_RUNTIME = "{{env.HOME}}/programs/helix/runtime"
RIPGREP_CONFIG_PATH = "{{env.HOME}}/.config/ripgrep/ripgreprc"
RUSH_CONFIG = "{{env.HOME}}/.config/rush/rush.ini"
ZDOTDIR = "{{env.HOME}}/.config/zsh/"
SUDO_ASKPASS = "{{env.HOME}}/bin/askpass-root"
_.path = [
  "{{env.HOME}}/.local/share/bob/nvim-bin/",
  "{{env.HOME}}/.local/share/nvim/mason/bin",
  "{{env.HOME}}/.config/emacs/bin",
  "{{env.HOME}}/.pixi/bin",
  "{{env.BUN_INSTALL}}/bin",
  "{{env.DENO_INSTALL}}/bin",
  "{{env.HOME}}/.local/share/aquaproj-aqua",
]
_.source = "{{env.HOME}}/.config/mise/machine_specific.sh"
EDITOR = "nvim"
VISUAL = "{{env.EDITOR}}"
TERMINAL = "ghostty"
TERM = "screen-256color" # Needed for italics to work in tmux
PAGER = "less" # Suggested at https://github.com/jarun/nnn/wiki/Advanced-use-cases#pager-as-opener
# LESSOPEN = "|/usr/local/bin/lesspipe.sh %s"  # I'm testing if batpipe from bat-extras is good (instead of lesspipe)
# MANROFFOPT = "-c"  # Fix formatting issue (or just use batman from bat-extras)
# MANPAGER = "sh -c 'col -bx | bat -l man -p'"
BAT_PAGER = "less -R"
BAT_THEME = "Catppuccin Mocha"
LESS = '-Ri '

# NNN
NNN_USE_EDITOR = 1
USE_VIDEOTHUMB = 1
BLK = "34"
CHR = "c9"
DIR = "e6"
EXE = "64"
REG = "fa"
HARDLINK = "81"
SYMLINK = "d6"
MISSING = "f0"
ORPHAN = "00"
FIFO = "06"
SOCK = "00"
OTHER = "58"
NNN_FCOLORS = "{{env.BLK}}{{env.CHR}}{{env.DIR}}{{env.EXE}}{{env.REG}}{{env.HARDLINK}}{{env.SYMLINK}}{{env.MISSING}}{{env.ORPHAN}}{{env.FIFO}}{{env.SOCK}}{{env.OTHER}}"
NNN_FIFO = "/tmp/nnn.fifo nnn"
NNN_TRASH = 1
NNN_TERMINAL = "{{env.TERMINAL}}"
# # ubuntu
# NNN_PLUG_UBUNTU = 'a:bookmarks;b:bibfinder;c:diffs;d:dragdrop;f:fzcd;i:ipinfo;j:autojump;m:viewmedia;o:organize;p:preview-tui2;r:rm-send;s:fzplug;u:upload'
# NNN_BMS_UBUNTU = 'b:~/Pictures/;c:~/.config/;d:~/Downloads/;l:~/.local;n:~/Documents/notes_papers/;m:~/stowfiles/;o:~/OneDrive/;p:~/programs/;r:~/science/ref/;s:~/bin/;t:~/Documents/teaching/;w:~/Documents/work/'
# NNN_OPENER_UBUNTU = "/home/een023/.config/nnn/plugins/nuke"
# # darwin (macos)
# NNN_BMS_DARWIN = "b:~/photos/Bilder/Canon EOS M50;c:~/.config;d:~/Downloads;m:~/stowfiles;p:~/programs;s:~/.local/bin;w:~/OneDrive - UiT Office 365/Skole"
# NNN_PLUG_DARWIN = 'a:bookmarks;b:bibfinder;c:diffs;d:dragdrop;f:fzcd;i:ipinfo;j:autojump;m:viewmedia;o:organize;p:preview-tui;r:rm-send;s:fzplug;u:upload'
# NNN_OPENER_DARWIN = ""
# # arch
# NNN_PLUG_ARCH = ""
# NNN_BMS_ARCH = ""
# NNN_OPENER_ARCH = ""
# NNN_PLUG = "{{ get_env(name='NNN_PLUG_' ~ env.MACHINE) }}"
# NNN_BMS = "{{ get_env(name='NNN_BMS_' ~ env.MACHINE) }}"
# NNN_OPENER = "{{ get_env(name='NNN_OPENER_' ~ env.MACHINE) }}"

# FZF settings
FD_OPTIONS = "--follow --exclude .git --exclude node_modules"
FZF_ALT_C_COMMAND = "fd --type d {{env.FD_OPTIONS}}"
FZF_DEFAULT_OPTS = "--layout=reverse --height 100% -1 --multi --inline-info --preview='[[ $(file --mime {}) =~ binary ]] && echo {} is a binary file || (bat --style=numbers --color=always {} || cat {}) 2> /dev/null | head -300' --bind='f3:execute(bat --style=numbers {} || less -f {}),f2:toggle-preview,ctrl-f:preview-down,ctrl-b:preview-up,ctrl-d:half-page-down,ctrl-u:half-page-up,ctrl-s:select-all+accept,ctrl-y:execute-silent(echo {+} | xclip -sel clip)'"
FZF_DEFAULT_COMMAND = 'fd --type f -I'
FZF_CTRL_T_COMMAND = "{{env.FZF_DEFAULT_COMMAND}}"

HAS_ALLOW_UNSAFE = "y"

# wezterm complains about
# ERROR: ld.so: object 'libgtk3-nocsd.so.0' from LD_PRELOAD cannot be preloaded (failed to map segment from shared object): ignored.
# See https://stackoverflow.com/a/53825858
# LD_PRELOAD = "/usr/lib/x86_64-linux-gnu/libgtk3-nocsd.so.0"

[tools]
python = [
  "latest",
  "sub-0.1:latest",
  "sub-0.2:latest",
  "sub-0.3:latest",
  "sub-0.4:latest",
]

"cargo:alacritty" = "latest"
"cargo:bacon" = "latest"
"cargo:bob-nvim" = "latest"
"cargo:bottom" = "latest"
"cargo:cargo-binstall" = "latest"
"cargo:cargo-info" = "latest"
"cargo:cargo-update" = "latest"
"cargo:cargo-watch" = "latest"
"cargo:coreutils" = "latest"
"cargo:despell" = "latest"
"cargo:difftastic" = "latest"
"cargo:diskus" = "latest"
"cargo:du-dust" = "latest"
"cargo:dua-cli" = "latest"
"cargo:dysk" = "latest"
"cargo:erdtree" = "latest"
"cargo:fd-find" = "latest"
"cargo:ffsend" = "latest"
"cargo:git-cliff" = "latest"
"cargo:git-delta" = "latest"
"cargo:gitui" = "latest"
"cargo:halp" = "latest"
"cargo:hayagriva" = "latest"
"cargo:hvm" = "latest"
"cargo:hyperfine" = "latest"
"cargo:irust" = "latest"
"cargo:jless" = "latest"
"cargo:jnv" = "latest"
"cargo:just" = "latest"
"cargo:kanata" = "latest"
"cargo:languagetool-rust" = "latest"
"cargo:leftwm" = "latest"
"cargo:leftwm-watchdog" = "latest"
"cargo:lscolors" = "latest"
"cargo:lux-cli" = "latest"
"cargo:mask" = "latest"
"cargo:mdbook" = "latest"
"cargo:mdbook-admonish" = "latest"
"cargo:mdbook-alerts" = "latest"
"cargo:mdbook-katex" = "latest"
"cargo:mdbook-repl" = "latest"
"cargo:mdbook-svgbob" = "latest"
"cargo:mdbook-toc" = "latest"
"cargo:menyoki" = "latest"
"cargo:mprocs" = "latest"
"cargo:navi" = "latest"
"cargo:nu" = "latest"
"cargo:numbat-cli" = "latest"
"cargo:pastel" = "latest"
"cargo:pngquant" = "latest"
"cargo:porsmo" = "latest"
"cargo:presenterm" = "latest"
"cargo:pueue" = "latest"
"cargo:riffdiff" = "latest"
"cargo:ripdrag" = "latest"
"cargo:ripgrep" = "latest"
"cargo:samply" = "latest"
"cargo:sccache" = "latest"
"cargo:sd" = "latest"
"cargo:shellharden" = "latest"
"cargo:shpool" = "latest"
"cargo:skim" = "latest"
"cargo:spotify-tui" = "latest"
"cargo:spotify_player" = "latest"
"cargo:stylua" = "latest"
"cargo:taplo-cli" = "latest"
"cargo:tex-fmt" = "latest"
"cargo:tidy-viewer" = "latest"
"cargo:tin-summer" = "latest"
"cargo:topgrade" = "latest"
"cargo:tree-sitter-cli" = "latest"
"cargo:viu" = "latest"
"cargo:vivid" = "latest"
"cargo:watchexec-cli" = "latest"
"cargo:xcolor" = "latest"
"cargo:xh" = "latest"
"cargo:zellij" = "latest"
"go:github.com/yuucu/todotui/cmd/todotui" = "latest"
"npm:@graphlab-fr/cosma" = "latest"
"npm:cosma" = "latest"
"npm:cwebp" = "latest"
"npm:jsonlint" = "latest"
"npm:tldr" = "latest"
"npm:yaml-language-server" = "latest"
"pipx:calcure" = "latest"
"pipx:llm" = "latest"
"ubi:Enter-tainer/typstyle" = "latest"
"ubi:MordechaiHadad/bob" = "latest"
"ubi:Myriad-Dreamin/shiroa" = "latest"
"ubi:charmbracelet/sequin" = "latest"
"ubi:dundee/gdu" = "latest"
"ubi:etcd-io/etcd" = "latest"
"ubi:filosottile/age" = "latest"
"ubi:goreleaser/goreleaser" = "latest"
"ubi:houseabsolute/precious" = "latest"
"ubi:ifd3f/caligula" = "latest"
"ubi:ismaelgv/rnr" = "latest"
"ubi:junegunn/fzf" = "latest"
"ubi:leftwm/leftwm-theme" = "latest"
"ubi:mayanayza/netvisor" = "latest"
"ubi:mgdm/htmlq" = "latest"
"ubi:ms-jpq/sad" = "latest"
"ubi:patrickvane/shfmt" = "latest"
"ubi:pvolok/mprocs" = "latest"
"ubi:pythops/bluetui" = "latest"
"ubi:sharkdp/bat" = "latest"
bun = "latest"
claude = "latest"
dprint = "latest"
fnox = "latest"
gleam = "latest"
glow = "latest"
go = "latest"
jj = "latest"
jq = "latest"
julia = "latest"
lua = "latest"
node = "latest"
npm = "latest"
pandoc = "latest"
prettier = "latest"
rust = "latest"
tinytex = "latest"
tmux = "latest"
typst = "latest"
usage = "latest"
yazi = "latest"
zig = "0.13"
"npm:opencode-ai" = "latest"
