**/spell/**
.luarc.json
.zcompdump
.zsh_history
.zsh_sessions
calcurse/.local/share/*
calcurse/.config/calcurse/keys
helix/.config/helix/runtime
helix/.config/helix/external-snippets/
helix/.config/helix/snippets/
newsboat/.newsboat/cache.db
nushell/**/history*
tmux/.tmux/plugins/
lazy-lock.json
.zcompdump*
# Annoying colors that always change
colors.yml
colors
colors.rasi
