**/spell/**
.luarc.json
.zcompdump
.zsh_history
.zsh_sessions
calcurse/.local/share/*
calcurse/.config/calcurse/keys
helix/.config/helix/runtime
newsboat/.newsboat/cache.db
nushell/**/history*
packer_compiled.lua
tmux/.tmux/plugins/
