# Annoying colors that always change
**/.zsh_functions/**
**/spell/**
.luarc.json
.zcompdump
.zcompdump*
.zsh_history
.zsh_sessions
calcurse/.config/calcurse/keys
calcurse/.local/share/*
colors
colors.rasi
colors.yml
fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/functions/
helix/.config/helix/external-snippets/
helix/.config/helix/runtime
helix/.config/helix/snippets/
lazy-lock.json
newsboat/.newsboat/cache.db
nushell/**/history*
tmux/.tmux/plugins/
yazi/.config/yazi/plugins/
glide/.config/glide/glide.d.ts
