[hooks.enter]
script = "mise completion zsh >assets/completions.sh && source assets/completions.sh"
shell = "zsh"

[tasks.update-auto]
description = "Run a system update passwordless."
run = """
#!/usr/bin/expect -f

set timeout -1
spawn mise run stowfiles -u
expect -re "password" { send -- [exec pass Hp-Ubuntu/login]\r }

expect eof
"""

[tools]
"cargo:git-cliff" = "latest"
hk = "latest"
pkl = "latest"
