* {
  font-family: "CaskaydiaMono Nerd Font", "Monospace";
  font-size: 14px;
  color: #D1B88E;
}

window.bar, window.bar1 {
  background-color: #201b14;
  border: none;
  margin: 0;
  padding: 0;
}

.left, .right {
  padding: 0 6px;
  background-color: transparent;
}

button.tag, button.timew {
  background: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #2e2620;
  padding: 2px 9px;
  border-radius: 0px;
  min-width: 0;
}

button.tag:hover {
  background-color: rgba(218, 117, 16, 0.2);
}

button.tag.busy {
  border-radius: 0px;
  background-color: #6e4f2f;
  color: #c9b890;
}

button.tag.focused {
  background-color: #DA7510;
  color: #201b14;
}

.layout {
  color: #DA7510;
  padding: 0 0px;
}

.cpu   { color: #b8bb26; }
.mem   { color: #d3869b; }
.disk  { color: #83a598; }
.net   { color: #8ec07c; }
.vol   { color: #DA7510; }
.bat   { color: #fabd2f; }
.timew { color: #c9b890; }
.clock { color: #D1B88E; }
