# See https://github.com/ahrm/sioyek/blob/main/pdf_viewer/prefs.config for explanation of
# settings, and the below for the full diff
# nv -d <(wget -qO- https://raw.githubusercontent.com/ahrm/sioyek/main/pdf_viewer/prefs.config) ~/.config/sioyek/prefs_user.config
# "zathura" indicate a setting I'm used to from zathura, and "Default" indicate that it
# is part of the default sioyek key bindings.
# Get only my edits with
# sed 's/^#.*$//;/^$/d' ~/.config/sioyek/prefs_user.config  # with inline comments
# sed 's/#.*$//;/^$/d' ~/.config/sioyek/prefs_user.config  # without inline comments

# For more information see the documentation at https://sioyek-documentation.readthedocs.io/

# (can be 0 or 1) if set, shows a notification on startup if a new version of sioyek is available
check_for_updates_on_startup	1

# Use old keybind parsing method (only for backwards compatibility)
# use_legacy_keybinds 0  # Default

# The color with which the screen is cleared before rendering the pdf (this is the background color of the application and not the PDF file)
background_color    0.16 0.16 0.16
dark_mode_background_color 0.16 0.16 0.16

# Showing full white text on black background can be irritating for the eye, we can dim the whites a little bit using the contrast option
dark_mode_contrast			0.7

# Highlight color when text is selected using mouse
# text_highlight_color    1.0 1.0 0.0  # Default

# The color of highlight ruler which is displayed when right click is pressed
visual_mark_color    0.0 0.0 0.0 0.2

# Highlight color when text is a search match
# search_highlight_color  0.0 1.0 0.0  # Default

# Hihglight color for PDF links (note that highlight is off by default
# and can only be seen by performing a toggle_highlight command. See keys.config for more details)
# link_highlight_color    0.0 0.0 1.0  # Default

# Hihglight color for synctex forward search highlights
# synctex_highlight_color    1.0 0.0 1.0  # Default

# Urls to use when executing external_search commands
# search_url_s	https://scholar.google.com/scholar?q=  # Default
# search_url_l	http://gen.lib.rus.ec/scimag/?q=  # Default
# search_url_g	https://www.google.com/search?q=  # Default
search_url_e	https://whoogle.eirik.re/search?q=
search_url_d	https://doi.org/

# Which search url to choose when middle clicking or shift middle clicking on text (the values are the letters of corresponding search_url_* )
# for example if i set `middle_click_search_engine	s`, then we use the url associated with `search_url_s` to handle middle click searches
middle_click_search_engine			d
shift_middle_click_search_engine	e

# The factor by which we increase/decrease zoom when performing zoom_in or zoom_out
zoom_inc_factor         1.1

# How many inches we move vertically/horizontally when performing move_* commands
# vertical_move_amount    1.0  # Default
# horizontal_move_amount    1.0  # Default

# When performing screen_down/screen_up we usually don't move a full screen because it causes the user to lose context
# Here we specify the fraction of the screen width by which we move when performing these commands
# move_screen_ratio      0.5  # Default

# If 0, Table of Contents is shown in a hierarchial tree, otherwise it is a flat list (can improve performance for extremely large table of contents)
# flat_toc                            0  # Default

# If it is 1, when launching the application if we detect multiple monitors, we automatically launch the helper window in second monitor
# should_use_multiple_monitors        0  # Default

# If the last opened document is empty, load the tutorial pdf instead
# should_load_tutorial_when_no_other_file	1  # Default

# (deprecated, use `should_launch_new_window` instead) If it is 0, then we use the previous instance of sioyek when launching a new file.
# otherwise a new instance is launched every time we open a new file.
# should_launch_new_instance				0  # Default

# If set, we open a new sioyek window when a new file is opened, otherwise we open the file in the previous window
should_launch_new_window				1

# The command to use when trying to do inverse search into a LaTeX document. Uncomment and provide your own command.
# %1 expands to the name of the file and %2 expans to the line number.
#inverse_search_command 		"C:\path\to\vscode\Code.exe" -r -g %1:%2

# you can specify the exact highlight color for each of 26 different highlight types

# When moving to the next line using visual marker, this setting specifies the distance of the market to the top of the screen in fractions of screen size (center of the screen is zero, top of the screen is one)
visual_mark_next_page_fraction	0  # How high should the visual mark be moved after scrolling the page? At the centre.

# When moving to the next line using visual marker, this setting determines at which point we move the screen (center of the screen is zero, bottom of the screen is one)
visual_mark_next_page_threshold	1.1  # How far should we be able to move the marker before scrolling the page? Zero distance. Always keep it at the centre.

# If set, we display a checkerboard pattern for unrendered pages (by default we display nothing)
# should_draw_unrendered_pages	0  # Default

# If 0, we use the previous renders for overview window which may cause it to be blurry
# if it is 1, we rerender with the proper resolution for overview window which looks better
# but may increase power consumption
# rerender_overview 1  # Default

## Size of the overview window (1 being as large as the window, valid range is [0, 1])
overview_size 0.8 0.6

## Offset of the center of the overview window ((0,0) being the center of the screen and valid raneg is [-1, 1])
# overview_offset 0.5 0.5

# Use linear texture filtering instead of nearest-neighbor
# Can improve appearance in very high-resolution screens
# linear_filter 0

# Use dark mode by default (deprecated, better add `toggle_dark_mode` to `startup_commands` )
# default_dark_mode	0  # Default

# If set, we sort the bookmarks by their location instead of their creation time
# sort_bookmarks_by_location	1  # Default

## Path to shared.db database file. If not set, we use the default path.
## you can set this to be a file in a synced folder (e.g. dropbox folder) to automatically sync
## sioyek across multiple computers
#shared_database_path    /some/path/shared.db

## Name of the font to use for UI text
ui_font "CaskaydiaMono Nerd Font Mono"
## Size of the UI font
font_size 16

## Semicolon-separated list of command to execute upon sioyek startup
#startup_commands    toggle_visual_scroll;toggle_dark_mode

## Background color to use when executing `toggle_custom_color`
custom_background_color 0.16 0.16 0.16
## Text color to use when executing `toggle_custom_color`
custom_text_color #839496

# Normally mouse wheel zooms in on the middle of the screen, but if this is set to 1, we zoom in on the cursor
wheel_zoom_on_cursor 1

## Color of status bar background
status_bar_color 0.16 0.16 0.16
## Color of status bar text
status_bar_text_color #839496
## Font size of the status bar text
status_bar_font_size 16
show_document_name_in_statusbar 0
show_closest_bookmark_in_statusbar 1
show_close_portal_in_statusbar 1

## The default size of main window when helper window is closed
#single_main_window_size 800 600
#single_main_window_move 100 100

## The default size/offset of main/helper window when helper window is opened. You can copy the value of this config using `copy_window_size_config` command
#main_window_size 800 600
#main_window_move 100 100
#helper_window_size 800 600
#helper_window_move 100 100

## Touchpad/scrollwhell sensitivity
#touchpad_sensitivity 1.0

## Configure the appearance of page separator
#page_separator_width 2
#page_separator_color	0.9 0.9 0.9

# Ratio of page width to use for `fit_to_page_width_ratio` command
# fit_to_page_width_ratio 0.75  # Default

# If set, we initially collapse table of content entries
# collapsed_toc 0  # Default

# If set, we highlight the current line in visual_scroll_mode by masking above and below the current line
# if not set, we only mask below the line
# ruler_mode 1  # Default

# Additional ruler padding
# ruler_padding 1.0  # Default
# ruler_x_padding 5.0  # Default

## We use mupdf to determine lines for visual mark. However, we do have a custom algorithm for image documents
## if `force_custom_line_algorithm` is 1, then we use our custom algorithm instead of mupdf even for documents
## that have lines.
#force_custom_line_algorithm 0

# A directory which sioyek watches for new papers. If a new paper added to this directory
# while we are creating a portal from another document, this new document will automatically
# be used as the destination of the portal.
#paper_folder_path /some/path

# Enable some experimental features, might not be stable
#enable_experimental_features 0

# Automatically create a table of contents for the document if it doesn't already have one
# create_table_of_contents_if_not_exists 1  # Default

# Limits the maximum size of created table of contents
# max_created_toc_size 5000  # Default

# Warn the user on the command line only when redefining keys inside
# the same file. When set to 1, sioyek will warn when redefining keys
# from other files also
# should_warn_about_user_key_override 1  # Default

# Use double clicks to select entire words and single clicks for character-based selection
# single_click_selects_words 0  # Default

# A prefix to prepend to items in lists (e.g. bookmark lists)
#item_list_prefix >

## In presentation mode, ignore whitespace when trying to determine the size of a page
#ignore_whitespace_in_presentation_mode 0

## In list of recent documents, show the entire document path rather than just the name
#show_doc_path 0

# Show long menu items in multiple lines instead of truncating the string, can reduce performance for
#very large lists
# multiline_menus 1  # Default

# While in present mode, prerender the next page to avoid flickering
# prerender_next_page_presentation 1  # Default

## Custom commands to run when clicking or right clicking when modifier keys are pressed
## the command can be any built-in sioyek command (e.g. overview_under_cursor) or user-defined
## commands defined using `new_command`
# shift_click_command some_command
# control_click_command some_command
# alt_click_command some_command
# shift_right_click_command some_command
control_right_click_command select_rect
# alt_right_click_command some_command

# Highlight on middle clicks when text is selected and no preview is open
#highlight_middle_click 1

# Use a super fast index for search instead of the mupdf's implementation
#super_fast_search 1

# Use case-insensitive search
#case_sensitive_search 0

#Amethyst
# highlight_color_a	rgb(094% 064% 100%)  # Default
#Blue
# highlight_color_b	rgb(000% 046% 086%)  # Default
#Caramel
# highlight_color_c	rgb(060% 025% 000%)  # Default
#Damson
# highlight_color_d	rgb(030% 000% 036%)  # Default
#Ebony
# highlight_color_e	rgb(010% 010% 010%)  # Default
#Forest
# highlight_color_f	rgb(000% 036% 019%)  # Default
#Green
# highlight_color_g	rgb(017% 081% 028%)  # Default
#Honeydew
# highlight_color_h	rgb(100% 080% 060%)  # Default
#Iron
# highlight_color_i	rgb(050% 050% 050%)  # Default
#Jade
# highlight_color_j	rgb(058% 100% 071%)  # Default
#Khaki
# highlight_color_k	rgb(056% 049% 000%)  # Default
#Lime
# highlight_color_l	rgb(062% 080% 000%)  # Default
#Mallow
# highlight_color_m	rgb(076% 000% 053%)  # Default
#Navy
# highlight_color_n	rgb(000% 020% 050%)  # Default
#Orpiment
# highlight_color_o	rgb(100% 064% 002%)  # Default
#Pink
# highlight_color_p	rgb(100% 066% 073%)  # Default
#Quagmire
# highlight_color_q	rgb(026% 040% 000%)  # Default
#Red
# highlight_color_r	rgb(100% 000% 006%)  # Default
#Sky
# highlight_color_s	rgb(037% 095% 095%)  # Default
#Turquoise
# highlight_color_t	rgb(000% 060% 056%)  # Default
#Uranium
# highlight_color_u	rgb(088% 100% 040%)  # Default
#Violet
# highlight_color_v	rgb(045% 004% 100%)  # Default
#Wine
# highlight_color_w	rgb(060% 000% 000%)  # Default
#Xanthin
# highlight_color_x	rgb(100% 100% 050%)  # Default
#Yellow
# highlight_color_y	rgb(100% 100% 000%)  # Default
#Zinnia
# highlight_color_z	rgb(100% 031% 002%)  # Default

# Extensions from the sioyek python package
# NOTE: I've installed all sioyek stuff in a pyenv controlled venv called sioyek, with
# the executable
# /home/een023/.pyenv/versions/sioyek/bin/python

# Download by CTRL and right-click (doesn't really work)
# new_command _download_paper /home/een023/.pyenv/versions/sioyek/bin/python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}" "%{selected_text}" [Your Email, If Using Unpaywall]
# control_click_command _download_paper

# Dual pane layout (very slow, and also buggy. killed the whole sioyek session. zathura
# does this instantly, without having to create a whole new file, so why is this so
# hard?)
# new_command _dual_panelify /home/een023/.pyenv/versions/sioyek/bin/python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"

# Extract highlights
new_command _extract_highlights /home/een023/.pyenv/versions/sioyek/bin/python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}

# Translate
new_command _translate_selected_text /home/een023/.pyenv/versions/sioyek/bin/python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text /home/een023/.pyenv/versions/sioyek/bin/python -m sioyek.translate "%{sioyek_path}" "%{line_text}"

# Import annotations
new_command _import_annotations /home/een023/.pyenv/versions/sioyek/bin/python -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

# Remove annotations
new_command _remove_annotations /home/een023/.pyenv/versions/sioyek/bin/python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"

# Add text
new_command _add_text /home/een023/.pyenv/versions/sioyek/bin/python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text /home/een023/.pyenv/versions/sioyek/bin/python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0

# Custom rename bookmark
new_command _rename_bookmark /home/een023/.pyenv/versions/sioyek/bin/python /home/een023/bin/sioyek_rename_bookmark.py "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_text}"
