[mgr]
linemode = "size"
show_hidden = true
show_symlink = true
sort_by = "alphabetical"
sort_dir_first = true
sort_reverse = false
sort_sensitive = false

[opener]
edit = [{ run = '${EDITOR:-nvim} "$@"', block = true, for = "unix" }]
feh = [{ run = 'feh --scale-down "$1"' }]
# nuke = [
#   { run = '~/.config/nnn/plugins/nuke "$1"', desc = "Open", for = "linux" },
# ]

[open]
prepend_rules = [{ mime = "image/*", use = "feh" }, { mime = "*/csv", use = "edit" }]

[preview]
max_width = 1500

[[plugin.prepend_previewers]]
mime = "image/heic"
run = "heic"
[[plugin.prepend_previewers]]
name = "*.nc"
run = 'piper -- ncdump-rich --long "$1"'

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"
[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"
