#![enable(implicit_some)]
(
    border_width: 4,
    // top, right, bottom, left
    margin: [4, 2, 4, 2],
    default_border_color: "#2a2318",
    floating_border_color: "#444444",
    focused_border_color: "#a60016",
)
