on: push
name: dprint-check
jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Check with dprint
        run: |
          curl -fsSL https://dprint.dev/install.sh | sh -s 0.49.0 > /dev/null 2>&1
          $HOME/.dprint/bin/dprint check --incremental=true --allow-no-files
